extends ../layouts/main.pug
block title
  title About
  
block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 About
          
          p.
            I've sought continuously complex tasks that remain invaluable to me. Coding is purely enjoyable because of its technicality and difficulties. There will be bugs, missed semi-colons, and failures but that's what keeps me coming back. I'm ready to put my skills to work and provide a meaningful impact on a company who values growth and creativity.
            

        div(class="pic" style="text-align: right")
              img(src="/img/profpic.jpg" style="width: 50%; border-radius: 5px;")  
