extends ../layouts/main.pug
block title
  title About
  
block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 About
          
          p.
            I've always sought out difficult tasks that are worthwhile. For me, coding is purely fun because it's very technical and you can have bugs lasting for days. You can miss a semi-colon and everything breaks, that's what keeps me coming back! I’m excited to make a big impact at a company who values creativity. 
            

        div(class="pic" style="text-align: right")
              img(src="/img/profpic.jpg" style="width: 50%; border-radius: 5px;")  
