extends ../layouts/main.pug
block title
  title About
  
block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 About Page
          p.
            Hi, thanks for stopping by! I am Angelo, a passionate web developer who cares about design, clean code, and the performance in between. My core lies in mostly Ruby on Rails, lots of design in the backend but I can't imagine not doing animations, design, color theory etc. I began my journey with the holy trinity, html, css, and javascript. After that I transitioned into Ruby on Rails, understanding relationship with the database like Postgresql. My other ventures are understanding Artificial Intelligence  
        div(class="col-md-4")
          img(src="https://www.atomix.com.au/media/2015/06/atomix_user31.png")  
