extends ../layouts/main.pug
block title
  title About
  
block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 About Page
          
            p.
              I’ve always sought out opportunities and challenges that are meaningful to me. As a developer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited to make a big impact at a high growth company. I've never stopped engaging my passion to help others and solve problems.

        div(class="pic" style="text-align: right")
              img(src="/img/profpic.jpg" style="width: 50%; border-radius: 5px;")  
