extends ../layouts/main.pug
block title
  title About
  
block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 About Page
          p.
            Cray vegan enamel pin, viral typewriter migas raclette ennui. Kogi chambray ramps godard, fixie asymmetrical direct trade twee semiotics hella. Jianbing iPhone schlitz woke craft beer 3 wolf moon green juice gastropub. Raclette dreamcatcher affogato synth.

            Cloud bread gastropub etsy, af offal stumptown meh snackwave blog selfies gluten-free brunch. Messenger bag fingerstache roof party four dollar toast taxidermy gluten-free bicycle rights unicorn copper mug hoodie. Affogato four loko marfa chicharrones seitan mlkshk pour-over cronut unicorn pop-up listicle drinking vinegar activated charcoal meh. Cray chartreuse VHS green juice shaman vexillologist venmo. Chartreuse pork belly cornhole gochujang shoreditch mumblecore vexillologist tousled hashtag hexagon cold-pressed readymade pug health goth. Aesthetic whatever twee, cold-pressed mlkshk iPhone activated charcoal you probably haven't heard of them 90's farm-to-table keytar.
        div(class="col-md-4")
          img(src="https://www.atomix.com.au/media/2015/06/atomix_user31.png")  
