extends ../layouts/main.pug
block title
  title Contact
  
block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-10")
          h1 I am available for hire
          
          p.
             In need of an extra help with building, finishing projects. Get in touch with me through social media. 
          div(class="icons")
            a(href='https://www.facebook.com/angelo.jimenez.56829446')
              i.fa.fa-facebook(aria-hidden='true')
            a(href='https://www.linkedin.com/in/ajstacks/') 
              i.fa.fa-linkedin(aria-hidden='true')
            a(href='https://github.com/ajSTACKS')
              i.fa.fa-github(aria-hidden='true')
            a(href='https://twitter.com/iceygelo')
              i.fa.fa-twitter(aria-hidden='true')
