extends ../layouts/main.pug
block title
  title Contact
  
block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-10")
          h1 Contact
          
          p.
             I'm on a mission to run the week into the best one. Work with me? Are you interested in collaborating? If you think I am suitable for your project or if you'd just like to say "hello", feel free to get in touch. 
          
          div(class="icons")
            div(class="iconContainer")
              a.link(href='mailto:angelojimenez@protonmail.com') Let's talk
              div(class="social-buttons")
                // LinkedIn Button
                a.social-margin(href='https://www.linkedin.com/in/ajstacks/', target='blank')
                  .social-icon.linkedin
                    i.fa.fa-linkedin(aria-hidden='true')
                // Github Button
                a.social-margin(href='https://github.com/ajSTACKS', target='blank')
                  .social-icon.github
                    i.fa.fa-github-alt(aria-hidden='true')
                // telegram
                a.social-margin(href='http://t.me/angelojimenez', target='blank')
                  .social-icon.telegram
                    i.fa.fa-telegram(aria-hidden='true')
                // Youtube Button
                a.social-margin(href='https://www.youtube.com/channel/UCK2pW0QT2PZt_90RHWjCNAg?view_as=public', target='blank')
                  .social-icon.youtube
                    i.fa.fa-youtube(aria-hidden='true')
                // twitterButton
                a.social-margin(href='http://twitter.com/plantgelo', target='blank')
                  .social-icon.twitter
                    i.fa.fa-twitter(aria-hidden='true')
                
