extends ../layouts/main.pug
block title
  title AJ | Full-Stack Developer
  
block content
  section(class="topHeader")
    div(class="topLeft")
      div(class="textContent")
        div(class="textContent__container")
          p(class="textContent__container__text")
            | Full-Stack
          ul.textContent__container__list
            li.textContent__container__list__item DEVELOPER
            li.textContent__container__list__item ARCHITECT
            li.textContent__container__list__item DESIGNER
            li.textContent__container__list__item ENGINEER
    div(class="topRight")
      img(src="/img/portpic1.svg")

  section(class="blog")
    div(class="post")
      
    div(class="post")
    div(class="post")
    div(class="post")
    div(class="post")
    div(class="post")

  section(class="footer")
    div(class="footer-note")
      
