extends ../layouts/main.pug
block title
  title Blogs
  
block content
  div(class="container blog-page index-page")
      div(class="row")
        div(class="col-md-8")
          div(class="content-box")
            div(class="row")
              div(class="col-md-12")
                a(href="/blog/title")
                  h1 this a Node.js trial blog setup
          div(class="content-box")
            div(class="row")
              div(class="col-md-12")
                a(href="/blog/title")
                  h1 I'm working on another portfolio with blog on Ruby on Rails 3/15/18
          div(class="content-box")
            div(class="row")
              div(class="col-md-12")
                a(href="/blog/title")
                  h1 is PHP still cool in 2018?
        
        div(class="col-md-4")
          div(class="content-box")
            div(class="ad-img")
              include ../includes/side-ad.pug
