extends ../layouts/main.pug
block title
  title Blogs
  
block content
  div(class="container blog-page show-page")
      div(class="row")
        div(class="col-md-8")
          div(class="content-box")
            div(class="row")
              h1 Blogs
              div(class="col-md-12")
                img(src="https://pbs.twimg.com/media/Ct6RXdOXEAAspKo.jpg")  
              div(class="col-md-12")
                p.
                  Cray vegan enamel pin, viral typewriter migas raclette ennui. Kogi chambray ramps godard, fixie asymmetrical direct trade twee semiotics hella. Jianbing iPhone schlitz woke craft beer 3 wolf moon green juice gastropub. Raclette dreamcatcher affogato synth.
                  Cloud bread gastropub etsy, af offal stumptown meh snackwave blog selfies gluten-free brunch. Messenger bag fingerstache roof party four dollar toast taxidermy gluten-free bicycle rights unicorn copper mug hoodie. Affogato four loko marfa chicharrones seitan mlkshk pour-over cronut unicorn pop-up listicle drinking vinegar activated charcoal meh. Cray chartreuse VHS green juice shaman vexillologist venmo. Chartreuse pork belly cornhole gochujang shoreditch 
            
        div(class="col-md-4")
          div(class="content-box")
            div(class="ad-img")
              include ../includes/side-ad.pug
             
        
