@import url('https://fonts.googleapis.com/css?family=Montserrat:200i,400|Poiret+One|Roboto+Condensed:300,400,700');
$headerBG: #373530;
$topRightBG: rgba(255,255,255,0.95);
$topLeftBG: #05D3BA;
$linkHoverColor: #05D3BA;
$bodyBG: rgba(255,255,255,0.95);
$shadowBG: #E2DEFF;
$contentBox: white;
$contentBoxProjects: #eaf9ec;

$fontColor: #373530;


/* Icon Colors */

$twitter-color: #55acee;
$linkedin-color: #0976b4;
$github-color: #24292e;
$youtube-color:#bb0000;
$telegram-color: #0088cc;


$mainFont: 'Roboto Condensed', sans-serif;
$displayFont: 'Poiret One', cursive;
$paraFont: 'Montserrat', sans-serif;

// Grid System
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-xs: "only screen and (min-width: 0px)";
$breakpoint-small: "only screen and (min-width: 451px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
