extends ../layouts/main.pug
block title
  title Projects
  
block content
  div(class="container projects-page show-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-12")
          h1 Show Projects
          p.
            Unicorn tacos palo santo, direct trade bicycle rights viral typewriter cliche echo park air plant fashion axe everyday carry activated charcoal jianbing. Church-key adaptogen fingerstache, messenger bag chillwave af normcore cliche thundercats vaporware freegan shoreditch typewriter echo park swag. Before they sold out lyft leggings hoodie fixie sustainable banjo iPhone hell of. Chillwave try-hard fam four loko woke raw denim flannel taiyaki meditation small batch.
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/14501/screenshots/1877706/upcoming-website.png")
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/14501/screenshots/1877706/upcoming-website.png")
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/14501/screenshots/1877706/upcoming-website.png")
        div(class="col-md-12")
          img(src="https://cdn.dribbble.com/users/14501/screenshots/1877706/upcoming-website.png")
